.header {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lora', serif;
}

.headerTitles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.headerTitleSm {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.headerTitleLg {
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}

.headerImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

