.top {
    width: 100%;
    height: 50px;
    background-color:white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topLeft, .topRight {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.topCenter {
    flex: 2;
    text-align: center;
}

.topList {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.topListItem {
    color: #444;
    text-decoration: none;
    cursor: pointer;
    
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
}
